@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Lemonada:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lemonada", cursive;
}
body{
  background-color: rgb(22, 21, 20);
}